<<<<<<< HEAD
@import "~carbon-components/scss/globals/scss/typography";

a {
	text-decoration: none;
	cursor: pointer;
=======
@import "~carbon-components/scss/globals/scss/typography";

a {
	text-decoration: none;
	cursor: pointer;
>>>>>>> 8fce99f3cb73487193747468a85b1d5ff508d4e1
}